.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#formContent {
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: 100px;
}

#formFooter {
  background-color: #272c2c;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

#icon {
  margin-top: 10px;
}

.btn-Log {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

input[type=submit],
input[type=button] {
  background-color: #272c2c;
  border: none;
  color: #fff;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  box-shadow: 0 10px 30px 0 #272c2c;
  border-radius: 5px 5px 5px 5px;
  margin: 15px 20px 40px 20px;
  transition: all 0.3s ease-in-out;
}

input[type=text],
input[type=password],
select {
  background-color: #fff;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  transition: all 0.5s ease-in-out;
  border-radius: 5px 5px 5px 5px;
}

input[type=submit]:hover,
input[type=button]:hover {
  background-color: #6e7e7e;
}

input[type=submit]:active,
input[type=button]:active {
  transform: scale(0.95);
}

input[type=text]:focus,
input[type=password]:focus,
select:focus {
  background-color: #fff;
  border-bottom: 2px solid #272c2c;
}

input[type=text]::placeholder,
input[type=password]::placeholder,
select::placeholder {
  color: #000000;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  background-size: cover;
}

#Back1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.315), rgba(34, 30, 30, 0.479)), url("../Images/img1.jpg");
}

#Back2 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.315), rgba(34, 30, 30, 0.479)), url("../Images/img2.jpg");
}

#Back3 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.315), rgba(34, 30, 30, 0.479)), url("../Images/img3.jpg");
}

#Back4 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.315), rgba(34, 30, 30, 0.479)), url("../Images/img4.jpg");
}

h1 {
  text-align: center;
  font-size: 175%;
  color: #757575;
  font-weight: 300;
}

.input {
  width: 75%;
  height: 50px;
  display: block;
  margin: 0 auto 15px;
  padding: 0 15px;
  border: none;
  border-bottom: 2px solid #ebebeb;
}

.input:focus {
  outline: none;
  border-bottom-color: #d3ae35 !important;
}

/* footer */
.full {
  width: 100%;
}

.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}

.footer {
  margin-top: 200px;
  background: #272c2c;
  height: auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD;
}

.footer p {
  margin: 0;
}

.footer h3 {
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 0px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.footer h4 {
  color: white;
  font-size: 2em;
  font-weight: 600;
  line-height: 38px;
  padding: 40px 0 10px;
  font-family: cursive;
  font-weight: lighter;
}

.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 0px;
  color: #272c2c;
  padding: 0 0 8px 0;
}

.email {
  border-bottom: 3px solid #fff;
}

.footer ul li a {
  padding: 0 0 12px 0;
  display: block;
}

.footer a {
  color: white;
  font-weight: lighter;
}

.footer p {
  color: white;
  font-weight: lighter;
  font-size: 20px;
}

.footer a:hover {
  text-decoration: none;
  font-weight: bold;
}

.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}

.bg-gray {
  background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
  box-shadow: 0 1px 0 #B4B3B3;
}

.footer a {
  color: #78828D;
}

.footer-bottom {
  margin-top: 2em;
  border-top: 1px solid #DDDDDD;
  padding-top: 20px;
  padding-bottom: 10px;
}

.footer-bottom p.pull-left {
  padding-top: 6px;
  font-size: 0.75em;
}
