body{
    background-color: #dddddd96;
  }
  
  *{
    margin: 0px;
    padding: 0px;
  }
  
  
  
  span{
    font-size: 20px;
    color: rgb(0, 0, 0);
  
  }
  
  .container-fluid{
    margin-top: 100px;
    
   
  }
  .card-box{
    margin-top: 10px;
    border: 2px solid rgb(38, 38, 39);
    background: rgb(212, 206, 206);
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  /* footer */
.full {
    width: 100%;    
  }
  .gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
  }
  .footer {
  margin-top: 200px;  
  background: rgb(39, 44, 44);
  height: auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD;
  }
  .footer p {
  margin: 0;
  }
  
  .footer h3 {
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 0px;
  text-transform: uppercase;
  margin-bottom: 15px;
  }
  
  .footer h4 {
  color: white;
  font-size: 2em;
  font-weight: 600;
  line-height: 38px;
  padding: 40px 0 10px;
  font-family: cursive;
  font-weight: lighter
  }
  
  .footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 0px;
  color: rgb(39, 44, 44);
  padding: 0 0 8px 0;
  }
  
  .email{
  border-bottom: 3px solid #fff;
  }
  .footer ul li a {
  padding: 0 0 12px 0;
  display: block;
  }
  .footer a {
  color: white;
  font-weight: lighter;
  }
  
  .footer p {
  color: white;
  font-weight: lighter;
  font-size: 20px;
  }
  
  .footer a:hover {
  text-decoration:none;
  font-weight: bold;
  }
  .supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
  }
  
  .bg-gray {
  background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
  box-shadow: 0 1px 0 #B4B3B3;
  }
  
  
  .footer a {
  color: #78828D
  }
  
  .footer-bottom {
  margin-top: 2em;
  border-top: 1px solid #DDDDDD;
  padding-top: 20px;
  padding-bottom: 10px;
  }
  .footer-bottom p.pull-left {
  padding-top: 6px;
  font-size: 0.75em
  }
  
  
  
  @media(max-width: 940px){
   
    

   /* .logo{
      margin-bottom: -29%;
    }*/
  }
  